[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Lenovo Vantage
Comment=Lenovo Vantage is a free utility software designed by the electronics manufacturing and technology company Lenovo.
Exec=/usr/bin/vantage %f
Icon=/usr/share/icons/hicolor/scalable/apps/vantage.png
Terminal=False
